h3 {
    color: #f1da63;
    font-size: 90px;
    font-family: 'Anton', sans-serif;
}

p {
    color: whitesmoke;
    font-family: 'Oswald'
}

.parrafoD {
    font-size: 19px;
}

.parrafoB {
    font-size: 30px;
}

